
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="row">
    <div class="col-md-4">
        <h2>List Items</h2>
        <p>EMPLOYEES ONLY!!</p>
        <p>
            <a class="btn btn-default btn-sm" href="/Home/ListOfItems">
                List &raquo;
                <span class="glyphicon glyphicon-list"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Add Item</h2>
        <p>EMPLOYEES ONLY!!</p>
        <p>
            <a class="btn btn-default btn-sm" href="/Home/AddItem">
                Add Item &raquo;
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</div>
