
@{
    ViewBag.Title = "Image";
}




<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <h2>Image</h2>
            <h2>@ViewBag.MyName</h2>
            @if (ViewBag.MyString == "Cup")
            {
               
                <img src="~/Models/31itvdQihoL._SL500_AC_SS350_.jpg" width="240" height="240" alt="cup picture" />
            }
            else if (ViewBag.MyString == "Bean")
            {
                <img src="~/Models/637734.jpg" width="240" height="240" alt="coffee bag picture"/>

            }
        </div>
        
    </div>
</div>


