@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/TextStyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4">
        <h2>See our Selection.</h2>
        <p>
            We have brought to you some of the finest selection of beans, for you to select from.
            With a inexpensive sample package, we can send you 2 cups of each of our most ordered
            selections to make sure you are satisfied with your purchase.
        </p>
        <p><a class="btn btn-default" href="/Home/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Purchase Coffee Today!</h2>
        <p>
            We have brought to you some of the finest selection of beans, for you to select from.
            With a inexpensive sample package, we can send you 2 cups of each of our most ordered
            selections to make sure you will be satisfied with your purchase. We also have other
            coffee related items to choose from, so please visit our store!!
        </p>
        <p><a class="btn btn-default" href="/Home/ItemList">Purchase &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>EMPLOYEES ONLY!!</p>
        <p><a class="btn btn-default" href="/Home/Admin"> Admin &raquo;</a></p>
    </div>
</div>