@{
    ViewBag.Title = "Home Page";
}



<div class="row">
        <div class="col-md-4">
            <h2>See our Selection.</h2>
            <p>
                We have brought to you some of the finest selection of beans, for you to select from.
                With a inexpensive sample package, we can send you 2 cups of each of our most ordered
                selections to make sure you are satisfied with your purchase.
            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Purchase Coffee Today!</h2>
            <p>We have made it easy to select and purchase our coffee beans and have them sent to anywhere
            in the world for your personal enjoyment.</p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact Us!</h2>
            <p>Please contact us to let us know if you have any questions or concerns, and we will do our
            best to accomodate your every need.</p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>