
@{
    ViewBag.Title = "ItemList";
}


<div class="row">
    <div class="col-md-4">
         <h2>French Mission</h2>
        <p>
            Africa--French Mission is actually Bourbon that was planted 
            in East Africa by French Missionaries around 1897
        </p>
        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ethiopian Sidamo</h2>
        <p>
            Ethiopia--	From the Sidamo (now Oromia) region of Ethiopia as well. All three Ethiopian varieties 
            are trademarked names with the rights owned by Ethiopia.
        </p>
        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>K7</h2>
        <p>
            Africa--A Kenyan selection of French Mission Bourbon selected at 
            Legelet Estate in Muhoroni, Kenya. Selected based on cupping trials.
        </p>
        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mocha</h2>
        <p>
            Yemen--Yemeni coffee traded through the once major port of Mocha. 
            Not to be confused with the preparation style (coffee with cocoa).
        </p>
        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Orange Yellow Bourbon</h2>
        <p>
            Latin America--Red Bourbon and Orange Bourbon are types of Bourbon 
            that have been selected from spontaneous mutation.
        </p>
        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bergendal Sidikalang</h2>
        <p>
            Indonesia--Both are Typica varieties which survived the leaf rust outbreak of the 1880s; 
            most of the other Typica in Indonesia was destroyed.
        </p>
        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
    </div>
</div>