
@{
    ViewBag.Title = "ItemList";
}

@foreach (var item in ViewBag.ItemList)
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-3" style="background-color:cadetblue;">
                <h3>Item </h3>
                <h5>
                    @item.ProdName
                </h5>
            </div>
            <div class="col-sm-2 col-md-3" style="background-color:mediumturquoise;">
                <h3> Description </h3>
                <h5>
                    @item.ProdDesc
                </h5>
            </div>
            <div class="col-sm-2 col-md-3" style="background-color:darkgrey;">
                <h3> Price </h3>
                <h5>
                    @item.ProdPrice
                </h5>
            </div>
            <div class="col-sm-2 col-md-3">
                <p><a class="btn btn-default" href="">Select &raquo;</a></p>
            </div>
        </div>
    </div>
}
