
@{
    ViewBag.Title = "ItemList";
}

@foreach (var item in ViewBag.ItemList)
{


    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th>ProdName</th>
                    <th>ProdDesc</th>
                    <th>ProdPrice</th>
                </tr>
                <tr>
                    <td>
                        @item.ProdName
                    </td>
                    <td>
                        @item.ProdDesc
                    </td>
                    <td>
                        @item.ProdPrice per pound
                    </td>
                    <td>
                        <p><a class="btn btn-default" href="">Select &raquo;</a></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
