@{
    ViewBag.Title = "ItemAdded";
}

<h2>ItemAdded</h2>

<h3>@ViewBag.ProdName is added</h3>

<div class="row">
    <div class="col-md-4">
        <h2>Add Another Item</h2>
        <p>
            <a class="btn btn-default btn-sm" href="/Home/AddItem">
                Add Item &raquo;
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</div>