
@{
    ViewBag.Title = "ItemList";
}
<link href="~/Content/TextStyle.css" rel="stylesheet" />

<form action="/Home/ListByName" method="get">
    <h5>Search by Name</h5>
    <input type="text" name="ProdName" />
    <input type="submit" value="Search by Name" />
</form>

<form action="/Home/ListByCategory" method="get">
    <h5>Search by Category</h5>
    <input type="text" name="ProdDesc" />
    <input type="submit" value="Search by Category" />
</form>

@foreach (var item in ViewBag.ItemList)
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-3">
                <h3>Item </h3>
                <h5>
                    @item.ProdName
                </h5>
            </div>
            <div class="col-sm-2 col-md-3">
                <h3> Description </h3>
                <h5>
                    @item.ProdDesc
                </h5>
            </div>
            <div class="col-sm-2 col-md-3">
                <h3> Price </h3>
                <h5>
                    @item.ProdPrice
                </h5>
            </div>
            <div class="col-sm-2 col-md-3">
                <h3>Select this item?</h3>
                <p><a class="btn btn-default" href="/Home/Image?ProdDesc=@item.ProdDesc">Select &raquo;</a></p>
            </div>
        </div>
    </div>
}
