
@{
    ViewBag.Title = "ListItems";
}

<link href="~/Content/TextStyle.css" rel="stylesheet" />

<h2>ListItems</h2>



<table class="table">
    
    <tr>
        <th style="color:aliceblue">ProdName</th>
        <th style="color:aliceblue">ProdDesc</th>
        <th style="color:aliceblue">ProdQuan</th>
        <th style="color:aliceblue">ProdPrice</th>
    </tr>
    @foreach (var item in ViewBag.ItemList)
    {
        <tr>
            <td>
                <h5>
                    @item.ProdName
                </h5>
            </td>
            <td> 
                <h5>
                    @item.ProdDesc
                </h5>
            </td>
            <td>
                <h5>
                    @item.ProdQuan
                </h5>
            </td>
            <td> 
                <h5>
                    @item.ProdPrice
                </h5>
            </td>
            <td>
                <a href="/Home/DeleteItem?ProdName=@item.ProdName" class="btn btn-default btn-sm" onclick="return confirm('Are you sure?')">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
            </td>
            <td>
                <a href="/Home/UpdateItem?ProdName=@item.ProdName" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span> Update
                </a>
            </td>
        </tr>
    }
</table>

